In [2]:
import numpy as np
import json
from sentinel2_extract_data import listCoord

In [3]:
#dict_data = {'18032017': [[2159, 1546, 1525, 1500, 1539, 1446, 1575, 1594, 1633], [1870, 1265, 1242, 1289, 1293, 1235, 1359, 1321, 1394], [1649, 1121, 1060, 1250, 1308, 1223, 1341, 1230, 1392], [1534, 954, 938, 1197, 1288, 1334, 1532, 1235, 1496], [1655, 959, 922, 1134, 1191, 1339, 1608, 1251, 1542], [2128, 1036, 984, 1083, 1004, 1225, 1680, 1253, 1536], [2502, 1125, 1058, 1143, 1056, 1326, 1888, 1359, 1698], [2469, 964, 878, 957, 842, 1072, 1605, 1114, 1442], [2768, 1017, 924, 1077, 924, 1133, 1754, 1153, 1461], [684, 290, 175, 246, 182, 219, 193, 193, 214], [12, 10, 10, 12, 9, 10, 8, 10, 9], [1622, 520, 312, 629, 305, 539, 541, 431, 534], [1170, 291, 139, 317, 140, 352, 320, 188, 329]], '17052017': [[7563, 8196, 7694, 6506, 6603, 6720, 6802, 6695, 7555], [7567, 8128, 7595, 6371, 6455, 6567, 6671, 6565, 7460], [7246, 7830, 7233, 6055, 6165, 6211, 6334, 6237, 7090], [7459, 8049, 7477, 6242, 6366, 6420, 6457, 6481, 7332], [7367, 7965, 7435, 6157, 6305, 6381, 6442, 6364, 7219], [7627, 8238, 7685, 6448, 6542, 6609, 6747, 6585, 7462], [7881, 8571, 7949, 6724, 6809, 6870, 6985, 6853, 7754], [7572, 8081, 7472, 6367, 6427, 6560, 6648, 6521, 7334], [7961, 8657, 7967, 6818, 6878, 6925, 7077, 6940, 7819], [3722, 3779, 3758, 2801, 3413, 3576, 3548, 3189, 3631], [628, 414, 602, 425, 1005, 1194, 864, 693, 931], [3599, 3835, 3862, 2768, 2593, 2445, 2697, 2665, 2910], [2349, 2442, 2654, 1900, 2135, 2097, 2230, 1978, 2369]], '16072017': [[1377, 1416, 4150, 5644, 1651, 2038, 4398, 7761, 2417], [1410, 1574, 3275, 5678, 1460, 2091, 4130, 7791, 2313], [1497, 1835, 3603, 5484, 1411, 2370, 4111, 7293, 2238], [1536, 2052, 3916, 5736, 1428, 2705, 4181, 7573, 2135], [1684, 1933, 4058, 5721, 1346, 2608, 3877, 7506, 2321], [2013, 1753, 5019, 6256, 1309, 2390, 4301, 7675, 3389], [2325, 2013, 5545, 6680, 1489, 2696, 4582, 7992, 3997], [1980, 1700, 4611, 6259, 1232, 2386, 4559, 7513, 3611], [2214, 1659, 5814, 6881, 1296, 2404, 4688, 8007, 4222], [337, 280, 1501, 1785, 136, 259, 1126, 2568, 601], [9, 18, 25, 22, 10, 13, 18, 29, 20], [1066, 723, 4225, 5062, 526, 1147, 3546, 4409, 2708], [519, 423, 2937, 3565, 352, 733, 2545, 2736, 1827]], '24102017': [[4442, 7402, 6550, 6675, 7194, 7282, 5258, 7286, 4217], [4316, 6855, 5960, 6042, 7381, 7409, 4911, 6823, 4039], [3953, 6636, 5582, 5915, 7106, 7171, 4740, 6618, 3846], [3749, 7075, 5795, 6350, 7405, 7513, 5047, 6954, 3884], [3804, 6911, 5773, 6197, 7227, 7237, 4961, 6969, 3807], [4518, 7437, 6213, 6828, 7597, 7547, 5460, 7446, 4376], [4967, 7930, 6735, 7433, 8024, 7946, 5802, 7930, 4736], [4714, 6926, 5951, 6374, 7425, 7488, 5156, 7049, 4377], [5121, 8118, 7022, 7714, 8253, 8121, 5936, 8184, 4944], [964, 2200, 1698, 1685, 1902, 1927, 1472, 2458, 779], [17, 22, 19, 20, 22, 18, 16, 18, 15], [3655, 5788, 5075, 5555, 6031, 5187, 4276, 4486, 3838], [2467, 4146, 3931, 4262, 4311, 3376, 2835, 2538, 2653]], '13032018': [[3005, 5192, 2745, 4140, 3475, 3653, 1875, 2362, 1795], [2998, 5203, 2466, 4193, 3220, 3796, 1583, 2098, 1548], [2800, 5163, 2242, 4055, 3112, 3399, 1453, 1966, 1448], [2887, 5637, 2191, 4340, 3208, 3291, 1366, 1982, 1362], [2943, 5711, 2240, 4394, 3255, 3799, 1344, 2035, 1348], [3265, 6041, 2568, 4738, 3541, 4007, 1347, 2424, 1276], [3480, 6391, 2757, 5048, 3780, 4087, 1442, 2748, 1405], [3502, 5992, 2486, 4815, 3382, 3773, 1252, 2509, 1160], [3604, 6632, 2863, 5305, 3970, 4052, 1324, 2917, 1259], [1020, 2271, 794, 1583, 1118, 1222, 298, 589, 271], [15, 27, 14, 24, 19, 22, 10, 15, 11], [3367, 6280, 2308, 5606, 3357, 3510, 585, 2556, 458], [2036, 5149, 1403, 4505, 2636, 2501, 324, 1763, 280]], '22052018': [[2159, 1995, 1490, 1431, 1551, 1535, 4498, 1527, 2014], [1938, 1866, 1422, 1344, 1345, 1508, 4676, 1253, 2354], [1907, 1762, 1493, 1494, 1489, 1575, 4400, 1353, 2593], [1777, 1697, 1747, 1821, 1891, 1860, 4369, 1717, 3352], [1994, 1935, 1769, 1806, 2009, 1844, 4480, 1790, 3402], [3006, 2776, 2133, 2431, 2386, 2105, 5087, 2170, 3868], [3496, 3220, 2410, 2828, 2790, 2458, 5546, 2490, 4349], [3140, 2882, 2077, 2444, 2492, 2194, 4969, 2177, 4058], [3692, 3404, 2363, 3029, 3024, 2371, 5857, 2636, 4646], [703, 693, 307, 298, 300, 217, 1219, 266, 366], [30, 44, 16, 20, 19, 21, 26, 11, 12], [2693, 2387, 947, 967, 453, 668, 4710, 837, 2322], [1799, 1527, 597, 433, 221, 382, 3678, 453, 1567]], '11072018': [[6412, 1481, 1482, 1404, 1815, 6415, 2295, 1780, 2041], [6393, 1461, 1593, 1427, 1403, 5554, 2181, 1653, 1552], [6151, 1569, 1763, 1565, 1492, 5745, 2091, 1555, 1616], [6439, 1691, 1969, 1730, 1666, 6242, 2032, 1435, 1580], [6328, 1709, 1900, 1550, 1560, 6099, 2126, 1508, 1690], [6734, 1864, 1897, 1739, 1545, 6566, 2828, 2169, 2379], [7145, 2110, 2177, 2072, 2285, 6995, 3297, 2558, 2852], [6432, 1746, 1884, 1575, 1387, 5965, 3018, 2466, 2165], [7332, 1938, 1978, 1828, 2573, 7223, 3489, 2642, 3007], [1839, 338, 276, 276, 542, 2163, 496, 401, 729], [48, 61, 39, 10, 29, 15, 21, 57, 168], [4171, 1004, 1013, 1032, 768, 4310, 2416, 1876, 1801], [2631, 630, 697, 570, 1084, 2941, 1590, 1224, 1349]], '20082018': [[3662, 2275, 1769, 1704, 4555, 3188, 2896, 1689, 2125], [3165, 1869, 1911, 1568, 4655, 3666, 2419, 1684, 2466], [2905, 1849, 2375, 1483, 4365, 3423, 2927, 1978, 2886], [3234, 1741, 3032, 1281, 4601, 3217, 3441, 2445, 3560], [3437, 1984, 2971, 1488, 4370, 3262, 3345, 2354, 3313], [4339, 3165, 3173, 2590, 4804, 3585, 3571, 2531, 3576], [4836, 3828, 3634, 3168, 5213, 3782, 4155, 2878, 4020], [4161, 3339, 3057, 2924, 4849, 4128, 3266, 2415, 3375], [5040, 4098, 3360, 3361, 5355, 3730, 4105, 2726, 3765], [1553, 593, 278, 362, 1200, 1919, 555, 189, 226], [97, 48, 42, 32, 37, 1641, 19, 17, 18], [3466, 2695, 882, 1779, 2658, 1802, 1651, 986, 1617], [2675, 1838, 545, 1011, 1635, 1453, 1249, 616, 1155]], '19102018': [[1189, 1335, 1399, 1327, 1843, 1489, 1649, 1834, 2242], [984, 1289, 1175, 1209, 1392, 1261, 1417, 1588, 2214], [929, 1326, 1201, 1347, 1457, 1316, 1436, 1520, 2119], [630, 1390, 1236, 1374, 1480, 1291, 1464, 1519, 2084], [601, 1344, 1233, 1279, 1455, 1180, 1434, 1576, 2198], [875, 1391, 1232, 1126, 1383, 1024, 1366, 1820, 2972], [1065, 1590, 1407, 1343, 1573, 1134, 1498, 2045, 3393], [781, 1324, 1019, 1010, 1204, 930, 1287, 1838, 3270], [955, 1431, 1194, 1051, 1366, 968, 1374, 2050, 3548], [407, 466, 343, 293, 445, 279, 368, 690, 891], [12, 17, 20, 26, 70, 57, 150, 297, 359], [688, 706, 679, 577, 833, 439, 651, 1045, 2263], [301, 409, 430, 269, 518, 269, 450, 709, 1547]], '20082017': [[3064, 1236, 1271, 1420, 1632, 1463, 1741, 1513, 1965], [2384, 1463, 1499, 1630, 1569, 1571, 1811, 1749, 2496], [2399, 1777, 1799, 1910, 1934, 1802, 2091, 2004, 2826], [2373, 2115, 2167, 2176, 2229, 2119, 2427, 2332, 3368], [2628, 1927, 1962, 1999, 1975, 2019, 2254, 2131, 3088], [3662, 1652, 1663, 1725, 1687, 1775, 2020, 1882, 2877], [4305, 1911, 1861, 1952, 1883, 2030, 2159, 2122, 3169], [3820, 1514, 1537, 1678, 1568, 1563, 1891, 1808, 2662], [4536, 1646, 1554, 1728, 1612, 1741, 1953, 1782, 2957], [706, 329, 278, 220, 157, 196, 176, 164, 222], [11, 8, 9, 7, 7, 6, 7, 8, 8], [3319, 779, 853, 841, 754, 905, 1071, 975, 1852], [2639, 466, 524, 590, 590, 655, 814, 666, 1408]], '03032019': [[1252, 1341, 1407, 1311, 1343, 1322, 1357, 1367, 1373], [976, 1110, 1099, 1095, 1137, 1110, 1152, 1138, 1153], [834, 1027, 1012, 1060, 1131, 1087, 1128, 1155, 1098], [626, 881, 879, 917, 988, 1013, 1068, 1073, 849], [707, 937, 1030, 862, 934, 976, 1016, 1001, 765], [892, 897, 1071, 853, 776, 828, 875, 837, 770], [965, 991, 1201, 869, 827, 851, 927, 898, 772], [750, 877, 784, 734, 668, 709, 798, 733, 709], [1071, 962, 1168, 787, 673, 740, 764, 755, 688], [529, 571, 543, 417, 286, 294, 282, 350, 277], [10, 13, 12, 10, 9, 10, 10, 8, 11], [807, 728, 940, 608, 258, 292, 294, 336, 300], [408, 494, 622, 356, 140, 180, 188, 178, 152]]}
#json.dump(dict_data, open("result.txt",'w'))

dict_data = json.load(open("result_sen2cor.txt"))
dict_data['18032017']

[[1767, 742, 720, 785, 844, 667, 902, 841, 961],
 [1818, 907, 842, 1079, 1233, 1082, 1281, 1081, 1329],
 [1725, 865, 821, 1099, 1300, 1345, 1654, 1219, 1601],
 [2940, 923, 777, 1128, 716, 1068, 1688, 1130, 1411]]

In [5]:
# real date is the date of measuring tss
realdate=['08032017', '08052017', '23072017', '22082017', '28102017', 
          '15032018', '20052018', '25072018', '21082018', '27102018', '09032019']
# ref date is the date of taking value from sentinel2
refdate=['18032017', '17052017', '16072017', '20082017', '24102017', 
         '13032018', '22052018', '11072018', '20082018', '19102018', '03032019']

imgName = ['T48QUJ_20170318T033531_B','T48QUJ_20170517T033541_B','T48QUJ_20170716T033541_B','T48QUJ_20171024T033821_B','T48QUJ_20180313T033531_B',
           'T48QUJ_20180522T033541_B','T48QUJ_20180711T033541_B','T48QUJ_20180820T033531_B','T48QUJ_20181019T033741_B','T48QUJ_20170820T033529_B','T48QUJ_20190303T033639_B']

# get sentinel data by placeIndex and dateIndex
def getBandData(placeIdx, dateIdx):
    date = refdate[dateIdx]
    data = []
    for d in dict_data[date]:
        data.append(d[placeIdx])
    return data

print(getBandData(1, 0))

print("TSS_Date", "Sentinel2_Date", "Image_Name")
for i in range(len(realdate)):
    print(realdate[i], refdate[i], imgName[i])

[742, 907, 865, 923]
TSS_Date Sentinel2_Date Image_Name
08032017 18032017 T48QUJ_20170318T033531_B
08052017 17052017 T48QUJ_20170517T033541_B
23072017 16072017 T48QUJ_20170716T033541_B
22082017 20082017 T48QUJ_20171024T033821_B
28102017 24102017 T48QUJ_20180313T033531_B
15032018 13032018 T48QUJ_20180522T033541_B
20052018 22052018 T48QUJ_20180711T033541_B
25072018 11072018 T48QUJ_20180820T033531_B
21082018 20082018 T48QUJ_20181019T033741_B
27102018 19102018 T48QUJ_20170820T033529_B
09032019 03032019 T48QUJ_20190303T033639_B

In [6]:
dataByDate = [] 
for d in range(len(refdate)):
    for p in range(len(listCoord)):
        dataByDate.append(getBandData(p, d))
dataByDate = np.array(dataByDate)
dataByDate.shape

(99, 4)

In [8]:
dataByDate # [idx, band]

array([[ 1767,  1818,  1725,  2940],
       [  742,   907,   865,   923],
       [  720,   842,   821,   777],
       [  785,  1079,  1099,  1128],
       [  844,  1233,  1300,   716],
       [  667,  1082,  1345,  1068],
       [  902,  1281,  1654,  1688],
       [  841,  1081,  1219,  1130],
       [  961,  1329,  1601,  1411],
       [ 8007,  8199,  8191,  8552],
       [ 8504,  8808,  8847,  9148],
       [ 7957,  8169,  8219,  8469],
       [ 6703,  6837,  6834,  7154],
       [ 6852,  6986,  6977,  7274],
       [ 6915,  7032,  7028,  7341],
       [ 7013,  7156,  7086,  7475],
       [ 6847,  7014,  7044,  7310],
       [ 7819,  8005,  8012,  8252],
       [  890,  1384,  1410,  2847],
       [ 1292,  1881,  2154,  1835],
       [ 4202,  4543,  4589,  5296],
       [ 7716,  7342,  6981,  7318],
       [ 1201,  1507,  1624,  1281],
       [ 1988,  2513,  2817,  2613],
       [ 5292,  5077,  4799,  5106],
       [10789,  9933,  9377,  8772],
       [ 2466,  2614,  2413,  4070],
       [ 2716,  2833,  2669,  4349],
       [ 1205,  1809,  2145,  1832],
       [ 1275,  1921,  2335,  1689],
       [ 1262,  1795,  2084,  1745],
       [ 1516,  2126,  2522,  1616],
       [ 1324,  1859,  2155,  1785],
       [ 1798,  2362,  2730,  1989],
       [ 1516,  2055,  2445,  1785],
       [ 2598,  3196,  3702,  2778],
       [ 5807,  5278,  4744,  5620],
       [10241,  9580,  9110,  8551],
       [ 8570,  7974,  7453,  7231],
       [ 8663,  8318,  8089,  7644],
       [10807, 10089,  9504,  9015],
       [10910, 10183,  9580,  9028],
       [ 6743,  6460,  6189,  6180],
       [ 9952,  9396,  8958,  8581],
       [ 5359,  5023,  4729,  5127],
       [ 3849,  3659,  3483,  4256],
       [ 7621,  7453,  7426,  7499],
       [ 2822,  2728,  2570,  2898],
       [ 5851,  5639,  5587,  5896],
       [ 4090,  3998,  3892,  3845],
       [ 5367,  4870,  4414,  4815],
       [ 1293,  1431,  1368,  1249],
       [ 2084,  2155,  2102,  2608],
       [ 1205,  1438,  1422,  1093],
       [ 1954,  2084,  1883,  3591],
       [ 1728,  1888,  1817,  3292],
       [ 1088,  1512,  1910,  2258],
       [  874,  1377,  1755,  2786],
       [ 1022,  1609,  2250,  2811],
       [ 1134,  1582,  2055,  2308],
       [ 6645,  6128,  5821,  5856],
       [  891,  1373,  1856,  2537],
       [ 2822,  3384,  4207,  4838],
       [ 6359,  6163,  6465,  6426],
       [ 1462,  1553,  1654,  1917],
       [ 1536,  1661,  1881,  1841],
       [ 1268,  1378,  1434,  1764],
       [ 1432,  1525,  1694,  1521],
       [ 5687,  5686,  6145,  6017],
       [ 2193,  2121,  2069,  3052],
       [ 1622,  1528,  1398,  2409],
       [ 1583,  1574,  1558,  2192],
       [ 3717,  3727,  3656,  4737],
       [ 1770,  2037,  1903,  3750],
       [ 1892,  2788,  3527,  3396],
       [ 1290,  1467,  1322,  3169],
       [ 5993,  5642,  5299,  5673],
       [ 4569,  4300,  3794,  4683],
       [ 2700,  3531,  4053,  3750],
       [ 1553,  2225,  2665,  2560],
       [ 2451,  3256,  3913,  3537],
       [  407,   667,   417,  1703],
       [  817,  1196,  1297,  1568],
       [  737,  1126,  1287,  1143],
       [  715,  1163,  1250,  1268],
       [ 1044,  1500,  1577,  1317],
       [  809,  1211,  1254,   974],
       [ 1063,  1410,  1522,  1305],
       [ 1239,  1494,  1548,  2008],
       [ 2308,  2402,  2274,  3630],
       [  393,   555,   454,  1227],
       [  584,   796,   779,  1005],
       [  622,   878,   898,   945],
       [  584,   875,   814,   956],
       [  635,   979,   915,   464],
       [  590,   919,   937,   644],
       [  656,   968,  1002,   624],
       [  702,  1072,  1085,   677],
       [  678,   931,   731,   481]])

In [15]:
# "Observation-TSS-data_24Jun2019.xlsx"
import pandas as pd
df = pd.read_excel ('Processed data_6Mar2020.xlsx', sheet_name='New Data_TSS',skiprows=0)
df = df.drop(columns=['Y (m)', 'X (m)', 'ID'])
df

,Date's Observation,Sentinel2_Code,Date Image,Observed TSS,Band1,Band2,Band3,Band4,Band5,Band6,Band7,Band8,Band8A,Band9,Band10,Band11,Band12
0,17/03/2017,T48QUJ_20170318T033531_B,18032017,278.558,2508,1856,1673,1584,1801,2399,2730,2570,2976,854,13,2316,1475
1,17/03/2017,T48QUJ_20170318T033531_B,18032017,128.603,1544,1261,1111,970,1055,1391,1597,1036,1643,311,9,1125,647
2,17/03/2017,T48QUJ_20170318T033531_B,18032017,128.136,1550,1235,1053,924,904,1051,1129,886,1045,208,8,387,176
3,17/03/2017,T48QUJ_20170318T033531_B,18032017,116.209,1472,1262,1195,1122,1117,1467,1679,1180,1732,280,10,1288,674
4,17/03/2017,T48QUJ_20170318T033531_B,18032017,95.614,1524,1305,1300,1272,1186,1130,1233,862,1118,261,10,563,301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2019-03-03 00:00:00,T48QUJ_20190303T033639_B,3032019,79.000,1336,1124,1120,986,985,981,1066,681,991,454,10,611,362
95,2019-03-03 00:00:00,T48QUJ_20190303T033639_B,3032019,64.000,1306,1092,1080,997,1028,1162,1304,824,1276,502,9,785,487
96,2019-03-03 00:00:00,T48QUJ_20190303T033639_B,3032019,140.000,1374,1147,1125,1058,1097,1130,1239,822,1167,427,11,767,509
97,2019-03-03 00:00:00,T48QUJ_20190303T033639_B,3032019,76.000,1323,1164,1178,1105,1111,1241,1371,844,1366,555,11,994,626
98,2019-03-03 00:00:00,T48QUJ_20190303T033639_B,3032019,81.000,1345,1151,1093,846,880,1080,1222,711,1214,460,10,718,404

In [16]:
df.head(5)

,Date's Observation,Sentinel2_Code,Date Image,Observed TSS,Band1,Band2,Band3,Band4,Band5,Band6,Band7,Band8,Band8A,Band9,Band10,Band11,Band12
0,17/03/2017,T48QUJ_20170318T033531_B,18032017,278.558,2508,1856,1673,1584,1801,2399,2730,2570,2976,854,13,2316,1475
1,17/03/2017,T48QUJ_20170318T033531_B,18032017,128.603,1544,1261,1111,970,1055,1391,1597,1036,1643,311,9,1125,647
2,17/03/2017,T48QUJ_20170318T033531_B,18032017,128.136,1550,1235,1053,924,904,1051,1129,886,1045,208,8,387,176
3,17/03/2017,T48QUJ_20170318T033531_B,18032017,116.209,1472,1262,1195,1122,1117,1467,1679,1180,1732,280,10,1288,674
4,17/03/2017,T48QUJ_20170318T033531_B,18032017,95.614,1524,1305,1300,1272,1186,1130,1233,862,1118,261,10,563,301

In [22]:
df_filtered = df[["Date's Observation", "Sentinel2_Code", "Date Image", "Observed TSS"]]
df_filtered.head(5)

  Date's Observation            Sentinel2_Code  Date Image  Observed TSS
0         17/03/2017  T48QUJ_20170318T033531_B    18032017       278.558
1         17/03/2017  T48QUJ_20170318T033531_B    18032017       128.603
2         17/03/2017  T48QUJ_20170318T033531_B    18032017       128.136
3         17/03/2017  T48QUJ_20170318T033531_B    18032017       116.209
4         17/03/2017  T48QUJ_20170318T033531_B    18032017        95.614

In [25]:

df_filtered['Band2'] = dataByDate[:,0]
df_filtered['Band3'] = dataByDate[:,1]
df_filtered['Band4'] = dataByDate[:,2]
df_filtered['Band8'] = dataByDate[:,3]

"""
for i in range(13):
    if i < 8:
        df_filtered['band'+str(i)] = dataByDate[:,i]
    elif i == 8:
        df_filtered['band8A'] = dataByDate[:,i]
    else:
        df_filtered['band'+str(i-1)] = dataByDate[:,i]
"""

/home/thanh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/thanh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/thanh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/thanh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

"\nfor i in range(13):\n    if i < 8:\n        df_filtered['band'+str(i)] = dataByDate[:,i]\n    elif i == 8:\n        df_filtered['band8A'] = dataByDate[:,i]\n    else:\n        df_filtered['band'+str(i-1)] = dataByDate[:,i]\n"

In [31]:
df_filtered.head(10)

,Date's Observation,Sentinel2_Code,Date Image,Observed TSS,Band2,Band3,Band4,Band8
0,17/03/2017,T48QUJ_20170318T033531_B,18032017,278.558,1767,1818,1725,2940
1,17/03/2017,T48QUJ_20170318T033531_B,18032017,128.603,742,907,865,923
2,17/03/2017,T48QUJ_20170318T033531_B,18032017,128.136,720,842,821,777
3,17/03/2017,T48QUJ_20170318T033531_B,18032017,116.209,785,1079,1099,1128
4,17/03/2017,T48QUJ_20170318T033531_B,18032017,95.614,844,1233,1300,716
5,17/03/2017,T48QUJ_20170318T033531_B,18032017,139.061,667,1082,1345,1068
6,17/03/2017,T48QUJ_20170318T033531_B,18032017,199.232,902,1281,1654,1688
7,17/03/2017,T48QUJ_20170318T033531_B,18032017,143.726,841,1081,1219,1130
8,17/03/2017,T48QUJ_20170318T033531_B,18032017,169.700,961,1329,1601,1411
9,16/05/2017,T48QUJ_20170517T033541_B,17052017,733.000,8007,8199,8191,8552

In [28]:
# Save to excel file
df_filtered.to_csv('processed_data_sen2cor.csv',index=0)
df_filtered.to_excel('processed_data_sen2cor.xlsx',index=False)